APP_ENV=dev
APP_SECRET=change_me

DATABASE_URL="postgresql://symfony:change_me@database:5432/receiptanalyzer?serverVersion=16&charset=utf8"
POSTGRES_VERSION=16
POSTGRES_USER=symfony
POSTGRES_PASSWORD=change_me
POSTGRES_DB=receiptanalyzer

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=receipts
MINIO_REGION=us-east-1

MESSENGER_OCR_TRANSPORT_DSN=redis://redis:6379/messages_ocr
MESSENGER_GROQ_TRANSPORT_DSN=redis://redis:6379/messages_groq
MESSENGER_CANCEL_TRANSPORT_DSN=redis://redis:6379/messages_cancel

MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:8081/.well-known/mercure
MERCURE_JWT_SECRET=change_me
MERCURE_PUBLISHER_JWT_KEY=change_me
MERCURE_SUBSCRIBER_JWT_KEY=change_me
MERCURE_EXTRA_DIRECTIVES=

GROQ_API_KEY=change_me

MESSENGER_CONSUMER_NAME=receiptor
